@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@layer{
    p,h1,span{
        font-family: 'Roboto';
    }
}
@layer components {
    .icon-Primary{
        @apply text-2xl font-[Roboto]  ;
    }
    .bg-primary{
        @apply bg-slate-100 text-black;
    }
    .hide-Scroll::-webkit-scrollbar{
        display: none;
    }
}
@theme{
    --breakpoint-3xl:120rem;
}